.login-register-form-section {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 125px;
}
.login-register-form-section i {
    width: 10px;
}
.login-register-form-section .nav-tabs > li > a {
    color: #00a69c;
}

.login-register-form-section .nav-tabs > li.active > a {
    background-color: #00a69c;
    border-color: #00a69c;
    color: white;
}
.login-register-form-section .nav-tabs > li > a, 
.login-register-form-section .nav-tabs > li.active > a {
    width: 160px;
    text-align: center; 
    border-radius: 0;
}
.login-register-form-section .nav-tabs {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.login-register-form-section .btn-custom {
    width: 100%;
    background-color: #00a69c;
    border-color: #00a69c;
    margin-bottom: 0.5em;
    border-radius: 0;
}
.login-register-form-section .btn-custom:hover {
    width: 100%;
    background-color: #00a69c;
    border-color: #00a69c;
}
.login-register-form-section .form-group {
    padding: 0 20px;
}

.all-colors-pallete {
  color: #ED5130;
  color: #00A59C;
  color: #B4CABE;
  color: #A9F1E5;
}

body {
  padding: 70px 0 0 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, dt {
  color: #00A59C;
}

h1 > small, h2 > small, 
h3 > small, h4 > small, 
h5 > small, h6 > small {
  color: #B4CABE;
}

dt { 
  margin-top: 20px;
}

textarea {
  resize: none;
}

a:hover {
  text-decoration: none;
  color: #00A59C;
}

.label {
  margin-right: 10px;
}

.label-success, .label-primary, .label-default, .btn-success  {
  background-color: #00A59C;
  border-color: #00A59C;
}

.label-warning, .label-danger, .btn-warning, .btn-danger  {
  background-color: #ED5130;
  border-color: #ED5130;
}

.navbar {
  background: white;
}

.navbar span, a, ul>li>a {
  color: #00A59C;
}

.navbar-brand img {
  max-height: 20px;
  display: inline-block;
}

/*.jumbotron {
    background-color: #B4CABE;
    color: #fff;
    text-align: center;
    background-image: url("../images/jumbotron_bkg.jpg");
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}*/

.jumbotron a {
  background-color: #00A59C;
  border-color: #00A59C;
}

.caption {
    overflow: hidden;
}

.caption > button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.caption h4, h3 {
    white-space: nowrap;
    color: #00A59C;
}

.caption h4 > a, h3 > a{
    color: #00A59C;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
}

.ratings .badge {
  color: #00A59C;
}

.ratings ul {
  list-style: none;
  padding: 0;
}

.ratings ul > li {
  display: inline-block;
}

.ratings ul > li > button.btn-info {
  background-color: white;
  color: #00A59C;
  border-color: white;
  margin: 2px;
  font-size: 0.9em;
}

.ratings ul > li > button.btn-info:hover {
  background-color: white;
  color: #00A59C;
  border-color: white;
  margin: 2px;
  font-size: 0.9em;
}

/* chef profile */

.chef-card {
  padding-top: 20px;
} 

.chef-card img.img-thumbnail.img-circle.center-block {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
}
/* media list */

.list-group-item > a:hover {
  text-decoration: none;
  color: #00A59C;
}
.media-object {
  width: 64px;
  height: 64px;
}

/* reviews */

.well {
  margin-bottom: 10px;
  /*margin-top: 20px;*/
}
.reviews .panel-heading {
  color: #00A59C;
}

.panel-default > .panel-heading .badge {
  background-color: #00A59C;
}

.reviews strong {
  color: #00A59C;
}

.reviews button {
  margin-top: 5px;
}

/* labels */

.labels {
  margin-left: 10px;
}

/* footer */

.logo > img {
  max-width: 96px;
  max-height: 96px;
  margin: 0 auto;
}

.social > ul > li > a > img {
  max-width: 100%;
  max-height: 100%;
}

.about {
  padding: 30px;
}

.about p {
  font-size: 1.3em;
}

.about h2 {
  color: black;
  font-size: 3em;
}

.about-card > img {
  padding: 30px;
}

.about-card {
  padding: 30px;
}
.circle {
  position: relative;
  background-color: #00A59C;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  width: 45px;
  height: 0;
  padding-top: 45px;
  border-radius: 50%;
  margin: 0 auto;
}

.circle p {
  position: absolute;
  top:50%; 
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
}

@media only screen and (min-width: 992px) {
  .fix {
    position: fixed;
    width: 28%;
  }
}